* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-image {
    background-image: url('../imgs/bg.jpg'); /* Background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.8); /* Background color for the box with transparency */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}